// These colors are specific to the theme. Do not use in a package!

@ghost-white: #F8F8F0;
@light-ghost-white: #F8F8F2;
@light-gray: #CCC;
@comment-gray: #75715E;
@gray: #999999;
@dark-gray: #49483E;
@almost-black: #282828;


@light-orange: #FFD569;
@mid-orange: #FFB24C;
@orange: #FD971F;

@sky-blue: #66D9EF;
@cornflower-blue: #028CDE;

@bright-pink: #F92672;
@pink-purple: #CA00B1;
@lavender: #AE81FF;

@bright-green: #A6E22E;
@green: #529B2F;
